{% load static %}
<div class="card w-75 question-preview">
    <div class="card-body">
        <div class="username">{{ answer.author }}</div>
        <img src="{% static "img/ava.jpg" %}">
        <div class="like-block">
            <span class="likes">{{ answer.rating }}</span>
            <span class="like">+</span>
            <span class="dislike">-</span>
        </div>
        <div class="question-preview-content answer">
            <p class="card-text">{{ answer.body }}</p>
            <div class="bottom-content">
                <input type="checkbox" class="form-check-input" {% if ans.correct %} checked {% endif %}>
                <label class="form-check-label">
                    Correct!
                </label>
                <span class="date">{{ answer.date }}</span>
            </div>
        </div>
    </div>
</div>