{% load static %}
<div class="card w-75 question-preview">
    <div class="card-body">
        <div class="username">{{ answer.author.profile.nickname }}</div>
        <img src="{{ answer.author.profile.avatar.url }}">
        <div class="like-block">
            <span class="rating" id="answer{{ answer.pk }}">{{ answer.rating }}</span>
            {% if request.user.is_authenticated %}
                <span class="js-answer like" id="answer_like{{ answer.pk }}" data-action="like" data-aid="{{ answer.pk }}">+</span>
                <span class="js-answer dislike" id="answer_dislike{{ answer.pk }}" data-action="dislike" data-aid="{{ answer.pk }}">-</span>
            {% endif %}
        </div>
        <div class="question-preview-content answer">
            <p class="card-text">{{ answer.body }}</p>
            <div class="bottom-content">
                {% if request.user == q.author %}
                <input type="checkbox" id="correct{{ answer.pk }}" data-aid="{{ answer.pk }}" data-qid="{{ q.pk }}" class="js-current form-check-input" {% if answer.correct %} checked {% endif %}>
                <label class="form-check-label">
                    Correct!
                </label>
                {% endif %}
                <span class="date">{{ answer.date }}</span>
            </div>
        </div>
    </div>
</div>