{% include "include/base.html" %}
{% load static %}
<div class="content">
    <span class="page-header huge">Registration</span>
    <div class="error">Sorry, this email is already registered!</div>
    <form class="input-form">
        <div class="form-group">
            <label for="title_area">Login</label>
            <input type="text" class="form-control" id="title_area" placeholder="dr_pepper">
        </div>
        <div class="form-group">
            <label for="email">Password</label>
            <input type="email" class="form-control" id="email" placeholder="dr.pepper@mail.ru"/>
        </div>
        <div class="form-group">
            <label for="nickname">NickName</label>
            <input type="text" class="form-control" id="nickname" placeholder="dr_pepper">
        </div>
        <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control" id="pass" placeholder="********">
        </div>
        <div class="form-group">
            <label for="pass2">Repeat password</label>
            <input type="password" class="form-control" id="pass2" placeholder="********">
        </div>
        <br/>
        <button class="btn btn-success">Register</button>
    </form>
</div>
{% include "include/scripts.html" %}
</body>
</html>
