{% extends "include/base.html" %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
<div class="content">
    <span class="page-header huge">Registration</span>
    {% for err in error %}
        <div class="error">{{ err }}</div>
    {% endfor %}

    <form class="input-form" action="/signup/" method="post">
            {% csrf_token %}
            {{ form.login }}<br>
            {{ form.email }}<br>
            {{ form.nickname }}<br>
            {{ form.password }}<br>
            {{ form.repeat_password }}<br>

            {% buttons %}
        <button class="btn btn-success">Register</button>
            {% endbuttons %}
    </form>
</div>
{% include "include/scripts.html" %}
{% endblock %}
