{% extends "include/base.html" %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
<div class="content">
    <span class="page-header huge">Settings: {{ login }}</span>
    {% for err in error %}
        <div class="error">{{ err }}</div>
    {% endfor %}
    <form novalidate class="input-form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.login }}<br>
            {{ form.email }}<br>
            {{ form.nickname }}<br>
            {{ form.avatar }}<br>
            {% buttons %}
        <button class="btn btn-success">Save</button>
            {% endbuttons %}
    </form>
</div>
{% include "include/scripts.html" %}
{% endblock %}
